---
import "@/styles/index.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Luna Heyman's personal website." />
    <meta name="author" content="Luna Heyman" />
    <meta name="generator" content="Astro" />

    <title>Toodeluna</title>
  </head>

  <body>
    <slot />
  </body>
</html>
